* text=auto eol=lf

/assets            export-ignore
/tests             export-ignore
/.github           export-ignore
/.editorconfig     export-ignore
/.gitattributes    export-ignore
/.gitignore        export-ignore
/phpunit.xml       export-ignore
/phpstan.neon      export-ignore
/pint.json         export-ignore
/rector.php        export-ignore
/CHANGELOG.md      export-ignore
/CONTRIBUTING.md   export-ignore
/SECURITY.md       export-ignore
/README.md         export-ignore
